body {
  background-color: #000000
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  
}

.game-box {
  border: ridge rgb(145, 124, 8);
  position: absolute;
  height: 900px;
  width: 1600px;
  top: 4%;
  /* left: 8%; */
}

/* > Title Screen */
#title-background {
  background-image: url("./Images/title-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#title {
  max-width: 100%;
  margin-top: 20px;
}

#title-menu {
  position: absolute;
  background-color: #FDE8BC;
  height: 100%;
  width: 300px;
  border: groove 1px black;
  right: 100px
}

.btn {
  background-color: black;
  border: black;
  width: 200px;
  margin-top: 100px;
  padding: 20px;
  
}
/* > Signup Page */
.signup-menu {
  position: absolute;
  background-color: #FDE8BC ;
  border: solid green;
  height: 100%;
  width: 500px;
  border: groove 1px black;
  display: flex;
  justify-content: center;
  /* right: 550px */
  
}

#signup-background {
  background-image: url("./Images/signup-pic.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}

.signup-header {
  margin: 20px;
}

.signup-label {
  font-weight: bold;
  margin: 10px;
}

.form-control {
  width: 400px
}

/* > Login Page */

#login-background {
  background-image: url("./Images/signup-pic.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}

/* > BattleOne */
#battle-one-background {
  background-image: url("./Images/battle-one.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

#harpyB {
  position: relative;
  width: 400px;
  height: 300px;
  top: 10%;
}

.party-box {
  bottom: 0;
  width: 100%;
  height: 20%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.victory {
  position: relative;
  width: 1200px;
  height: 500px;
  color: white;
  font-size: 300px;
  
  
}

.continue {
  position: relative;
  width: 500px;
  height: 100px;
  color: white;
  font-size: 50px;
  bottom: 50%;
  background-color: red;
  border-radius: 10px;
}

.continue:hover {
  
  box-shadow: 0px 0px 7px lightblue;
}

.continue:active {
  border: ridge 2px gold;
}

/* Battle Log */
.battle-log {
  position: absolute;
  border: solid 3px green;
  background-color: red;
  width: 320px;
  height: 600px;
  left: .1px
}
/* > Party UI */

.characterUI {
  
  flex-grow: 1;
  background-image: url("./Images/brick-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 32%;
  height: 100%;
  border: ridge .5px rgb(90, 77, 2)
}

.characterUI-turn {
  flex-grow: 1;
  background-image: url("./Images/brick-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 32%;
  height: 100%;
  border: ridge .5px rgb(177, 151, 3);
  box-shadow: 0px 0px 10px red;
}

.rogue-ac {
  position: absolute;
  width: 45px;
  height: 58px;
  left: 5px
}

.sorcerer-ac {
  position: absolute;
  width: 45px;
  height: 58px;
  left: 538px
}

.paladin-ac {
  position: absolute;
  width: 45px;
  height: 58px;
  left: 1070px
}

.character-pics {
  position: relative;
  border: ridge 3px rgb(148, 148, 146);
  left: 5%;
  top: 11%;
  float: left;
  width: 135px;
  height: 135px;
  background-color: black;
  box-shadow: 0px 0px 7px rgb(151, 145, 113);
  border-radius: 1px;
}

.character-hp {
  position: relative;
  font-weight: bolder;
  left: 3%;
  color: white
}

#character-healthbar {
  position: relative;
  float: right;
  width: 250px;
  right: 10%;

  
}



#attack {
  position: relative;
  margin-top: 25px;
  right: 15%;
  float: right;
  top: 10%;
}

#attack-turn {
  position: relative;
  border: solid gold;
  background-color: red;
  margin-top: 25px;
  float: right;
  right: 15%;
  top: 10%;
}

#attack-turn:hover {
  border: solid gold;
  background-color: gold;
  
}

#attack-turn:active {
  border: solid red;
  background-color: gold;
  
}

#enemy-hp {
  position: absolute;
  top: 2%;
  width: 400px;
  
}
 