body {
  background: linear-gradient(-45deg, #130a07, #1f0f0d, #130913, #130906);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  
}

.game-box {
  border: ridge rgb(145, 124, 8);
  position: absolute;
  height: 900px;
  width: 1600px;
  top: 4%;
  /* left: 8%; */
}

ul {
  overflow: auto;
  max-height: 556px;
  width: 100%;
  
  
}


/* > Title Screen */
#title-background {
  background-image: url("./Images/title-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#title {
  max-width: 100%;
  margin-bottom: 40px;
  border: groove 3px rgb(145, 124, 8);
}

#title-menu {
  position: absolute;
  background-color: #FDE8BC;
  height: 100%;
  width: 300px;
  border: groove 1px black;
  right: 100px
}

.btn {
  background-color: black;
  border: black;
  width: 200px;
  margin-top: 60px;
  padding: 20px;
  
}
/* > Signup Page */
.signup-menu {
  position: absolute;
  background-color: #FDE8BC ;
  border: solid green;
  height: 100%;
  width: 500px;
  border: groove 1px black;
  display: flex;
  justify-content: center;
  /* right: 550px */
  
}

#signup-background {
  background-image: url("./Images/signup-pic.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}

.signup-header {
  margin: 20px;
}

.signup-label {
  font-weight: bold;
  margin: 10px;
}

.form-control {
  width: 400px
}

/* > Login Page */

#login-background {
  background-image: url("./Images/signup-pic.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}
/* > Exposition Boxes */

.top-expo {
  background-color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: solid 2px #b78846;
  height: 55px;
  color: #FDE8BC;
}

.dialogue-box {
  position: absolute;
  top: 594px;
  background-image: url("./Images/black-paper-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 85%;
  width: 100%;
  height: 300px;
  padding: 5px;
  border: 2px solid #b78846;
}
.dialogue-box-inner {
    position: relative;
    border: 2px solid #b78846;
    padding: 40px;
    height: 100%;
    max-height: 300px;
    overflow-y: auto;
    color: white;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
   
}

.continue-exposition {
  background-color: rgb(241, 183, 74);
  border-radius: 13px;
  position: absolute;
  bottom: 2%;
  left: 740px; 
}

@keyframes expo {
  from {
    background-color: rgb(241, 183, 74);
  }
  to {
    background-color: white;
  }
}

.continue-exposition:hover {
  animation-duration: .2s;
  animation-name: expo;
  background-color: white;
  box-shadow: 0px 0px 7px rgb(241, 183, 74); ;
}
/* > Beginning */

#beginning-background {
  background-image: url("./Images/beginning-lighthouse.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#beginning-entrance-background {
  background-image: url("./Images/beginning-entrance.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#transition-one-background {
  background-image: url("./Images/transition-one.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#transition-two-background {
  background-image: url("./Images/transition-two.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* > BattleOne */
#battle-one-background {
  background-image: url("./Images/battle-one.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

#battle-two-background {
  background-image: url("./Images/battle-two.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

#harpyB {
  position: relative;
  width: 400px;
  height: 300px;
  top: 10%;
}

.party-box {
  bottom: 0;
  width: 100%;
  height: 20%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.victory {
  position: relative;
  width: 800px;
  height: 500px;
  color: white;
  font-size: 280px;
  
  
}

.continue {
  position: relative;
  width: 500px;
  height: 100px;
  color: white;
  font-size: 50px;
  bottom: 50%;
  background-color: red;
  border-radius: 10px;
  
}

#lose-button {
  position: absolute;
  left: 55px;
  top: 200px
}

.continue:hover {
  background-color: gold;
  box-shadow: 0px 0px 7px lightblue;
  color: black;
  animation-duration: .2s;
  animation-name: change;
  
}

@keyframes change {
  from {
    background-color: red;
    color: white;
  }
  to {
    background-color: gold;
    color: black;
  } 
}

.continue:active {
  border: ridge 2px red;
  color: red
}

/* Battle Log */
.battle-log {
  position: absolute;
  border: groove 3px rgb(88, 88, 88);
  background-image: url("./Images/black-paper-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 340px;
  height: 600px;
  left: .1px;
  opacity: .8;
}

.log-image {
  max-width: 100%;
  opacity: .7;
  
}

.log-appearance {
  /* overflow: hidden; */
  /* width: 0;
  white-space: nowrap;
  animation-name: typing;
  animation-duration: 1s; */
  color: white;
  text-align: left;
  font-size: 15px;
  list-style: url('./Images/sword-bullets.png')
}

/* @keyframes typing {
  from { width: 0 }
  to { width: 100% }
} */

.round-tracker {
  position: absolute;
  color: goldenrod;
  
  bottom: 80px;
  width: 200px;
  height: 150px;
}
/* > Party UI */

.characterUI {
  
  flex-grow: 1;
  background-image: url("./Images/brick-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 32%;
  height: 100%;
  border: ridge .5px rgb(90, 77, 2)
}

.characterUI-turn {
  flex-grow: 1;
  background-image: url("./Images/brick-background-warm.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 32%;
  height: 100%;
  border: ridge .5px rgb(177, 151, 3);
  box-shadow: 0px 0px 10px red;
}

.rogue-ac {
  position: absolute;
  width: 45px;
  height: 58px;
  left: 5px
}

.sorcerer-ac {
  position: absolute;
  width: 45px;
  height: 58px;
  left: 538px
}

.paladin-ac {
  position: absolute;
  width: 45px;
  height: 58px;
  left: 1070px
}

.healing-potion-rog {
  position: absolute;
  top: -8px;
  left: 120px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.potion-amount-rog {
  position: absolute;
  font-size: 30px;
  color: white;
  left: 170px
}

.healing-potion-sor {
  position: absolute;
  top: -8px;
  left: 652px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.potion-amount-sor {
  position: absolute;
  font-size: 30px;
  color: white;
  left: 702px
}

.healing-potion-pld {
  position: absolute;
  top: -8px;
  left: 1185px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.potion-amount-pld {
  position: absolute;
  font-size: 30px;
  color: white;
  left: 1235px
}

.character-pics {
  position: relative;
  border: ridge 3px rgb(148, 148, 146);
  left: 5%;
  top: 11%;
  float: left;
  width: 135px;
  height: 135px;
  background-color: black;
  box-shadow: 0px 0px 7px rgb(151, 145, 113);
  border-radius: 1px;
}

.character-hp {
  position: relative;
  font-weight: bolder;
  left: 3%;
  color: white
}

#character-healthbar {
  position: relative;
  float: right;
  width: 250px;
  right: 10%;
}

#phantom-cooldown-bar {
  position: absolute;
  background-color: purple;
  transform: rotate(-90deg);
  width: 60px;
  height: 10px;
  left: 230px;
  top: 130px
}

#lightning-cooldown-bar {
  position: absolute;
  background-color: rgb(167, 79, 7);
  transform: rotate(-90deg);
  width: 60px;
  height: 10px;
  left: 761px;
  top: 130px
}

#smite-cooldown-bar {
  position: absolute;
  background-color: rgb(206, 244, 253);
  transform: rotate(-90deg);
  width: 60px;
  height: 10px;
  left: 1293px;
  top: 130px
}
/* .attack-box {
  border: solid 3px green;
  height: 400px;
} */

.attack {
  position: relative;
  border: solid gray;
  background-color: black;
  margin-top: 25px;
  float: right;
  left: 55px;
  
  width: 120px;
  height: 45px;
  padding: 1px;
  border-radius: 10px;
  color: rgb(153, 152, 152);
  font-style: oblique;
  font-size: 14.5;
  font-weight: bold;
}

#second-action {
  left: -45px;
  top: -70px;
  font-size: 14.5px;
  overflow: hidden;
  white-space: nowrap;
  
}

#third-action {
  left: 15px;
  top: -15px;
  height: 60px;
  width: 150px;
  font-size: 14.5px;
}

.attack-turn {
  position: relative;
  border: solid gold;
  background-color: red;
  margin-top: 25px;
  float: right;
  left: 55px;

  width: 120px;
  height: 45px;
  padding: 1px;
  border-radius: 10px;
  color: black;
  font-style: oblique;
  font-size: large;
  font-weight: bold;
}

.attack-turn:hover {
  border: solid gold;
  background-color: gold;
  
}

.attack-turn:active {
  border: solid red;
  background-color: gold;
  
}

#venom-strike {
  left: -45px;
  top: -70px;
  background-color: green;
  font-size: 14.5px;
  overflow: hidden;
  white-space: nowrap;
  
  
}

#venom-strike:hover {
  background-color: gold;
}

#phantom-assault {
  left: 15px;
  top: -15px;
  height: 60px;
  width: 150px;
 
  font-size: 17px;
  background-color: rgb(135, 49, 247);
  box-shadow: 0px 0px 15px red;
  white-space: nowrap;
  overflow: hidden;
}

#phantom-assault:hover {
  background-color: gold;
}

#lightning-bolt {
  left: 15px;
  top: -15px;
  height: 60px;
  width: 150px;
 
  font-size: 17px;
  background-color: rgb(255, 253, 151);
  box-shadow: 0px 0px 15px red;
  white-space: nowrap;
  overflow: hidden;

}

#lightning-bolt:hover {
  background-color: gold;
}

#divine-smite {
  left: 15px;
  top: -15px;
  height: 60px;
  width: 150px;
 
  font-size: 17px;
  background-color: rgb(206, 244, 253);
  box-shadow: 0px 0px 15px red;
  white-space: nowrap;
  overflow: hidden;
}

#divine-smite:hover {
  background-color: gold;
}

#magic-missle {
  left: -45px;
  top: -70px;
  background-color: rgb(240, 59, 216);
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
}

/* rgb(255, 253, 151) */

#magic-missle:hover {
  background-color: gold;
}

#bless-action {
  left: -45px;
  top: -70px;
  background-color: rgb(0, 140, 255);
  font-size: large;
  overflow: hidden;
  white-space: nowrap;
}

#bless-action:hover {
  background-color: gold;
}



#enemy-hp {
  position: absolute;
  top: 2%;
  width: 400px;
  
}
 
.lose {
  top: 350px;
  font-size: 150px;
  position: absolute;
  color: red;
  left: 480px
}

.char-name {
  position: relative;
  left: -105px;
  top: 45px
}

.round-container {
  position: absolute;
  width: 700px;
  height: 80px;
  top: 650px;
  opacity: 85%
}

#behemoth {
  position: relative;
  width: 650px;
  height: 420px;
  top: 28%;
}

#behemoth-hp {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 500px;
  
}

