body {
  background-color: #000000
}
.App {
  text-align: center;
  
}

.game-box {
  border: ridge rgb(145, 124, 8);
  position: absolute;
  height: 900px;
  width: 1600px;
  top: 4%;
  left: 8%;
}

#title-background {
  background-image: url("https://i.pinimg.com/736x/3b/ad/c3/3badc3197ebd90438bd9b48096542186--lighthouse-painting-drawing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#title {
  max-width: 100%;
  margin-top: 20px;
}

#title-menu {
  position: absolute;
  background-color: #FDE8BC;
  height: 100%;
  width: 300px;
  border: groove black;
  right: 100px
}

.btn {
  background-color: black;
  border: black;
  width: 200px;
  margin-top: 100px;
  padding: 20px;
  
}